!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      DSSG Berlin#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300", :rel => "stylesheet", :type => "text/css"}/
  %body
    #main{:role => "main"}
      = partial 'header'
      = yield
      = partial 'footer'
